
/* TERMINAL WINDOW ------------------------------------------------ */


/* CONTENT ----------------------------------- */

.codeHead {
  color: rgb(0, 229, 255);
  font-family: monospace;
  text-align: left;
  font-size: 1.5em;
  display: inline-flex;
}
#content {
  width: fit-content;
}
.typewriter {
  width: fit-content;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .7em solid rgb(0, 229, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  -webkit-animation: 
    typing 2.5s steps(35, end),
    blink-caret .9s step-end infinite;
  animation: 
    typing 2.5s steps(35, end),
    blink-caret .9s step-end infinite;
}
.typewriter1 {
  width: fit-content;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .7em solid rgb(0, 229, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  -webkit-animation: 
    typingOne 1s steps(60, end),
    blink-caret .9s step-end infinite;
  animation: 
    typingOne 1s steps(60, end),
    blink-caret .9s step-end infinite;
}
.bio:hover {
  color: rgb(0, 229, 255);
}
.work:hover {
  color: rgb(0, 229, 255);
}
.projects:hover {
  color: rgb(0, 229, 255);
}
/* The typing effect */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 50% }
}
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}
/* The typing1 effect */
@-webkit-keyframes typingOne {
  from { width: 0 }
  to { width: 20% }
}
@keyframes typingOne {
  from { width: 0 }
  to { width: 20% }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 208, 255) }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 208, 255) }
}

/* CONTENT ----------------------------------- */
  
  .hide {
    display: none;
  }

  /* TERMINAL WINDOW ------------------------------------------------ */


